@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:wght@400;500&display=swap');

body {
  color: #2b2b2b;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Macondo', cursive;
  font-size: 32px;
  margin: 0px;
}

h2 {
  text-align: center;
  font-family: 'Macondo', cursive;
  font-size: 24px;
  margin: 10px;
}

div {
  border: 0px solid transparent;
}

select {
  background-color: #e2e2e2;
  border: 2px solid #e2e2e2;
  border-radius: 8px;
  color: #2b2b2b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 2em;
}

.header {
  align-items: center;
  background-color: #fc4a7b;
  display: flex;
  height: 4em;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#top {
  align-items: stretch;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-between;
  margin: 65px 5px 5px 5px;
}

.top-sections {
  align-items: center;
  border-bottom: 2px solid #cacaca;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

.top-sections div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.character-selection {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.character-info {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  justify-content: space-between;
}

#unique-info {
  background-color: #e2e2e2;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

#unique-info div {
  align-items: center;
  display: flex;
  gap: 5px;
}

.bolder {
  color: #6565d5;
  font-weight: 800;
}